<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage":{
      "@type": "WebPage",
      "@id": "{{ site.url }}"
    },
    "headline": "{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}",
    "image": {
      "@type": "ImageObject",
      "url": "{{ site.logo | prepend: site.baseurl | prepend: site.url }}",
      "height": "60",
      "width": "60"
    }
    "alternativeHeadline": "{{ page.sub-title }}",
    "author": {
      "@type": "Person",
      "name": "{{ site.title }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ site.title }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ site.logo | prepend: site.baseurl | prepend: site.url }}",
        "width": "60",
        "height": "60"
      }
    },
    "datePublished": "{% if page.date %}{{ page.date | date_to_xmlschema }}{% else %}{{ site.time | date_to_xmlschema }}{% endif %}",
    "dateModified": "{% if page.date %}{{ page.date | date_to_xmlschema }}{% else %}{{ site.time | date_to_xmlschema }}{% endif %}",
    "description": "{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}",
  }
</script>
