// Cards
$card-hover-opacity: .8;

$card-h3-margin-bottom: $half-spacing;
$card-h3-color: $base-font-color;
$card-h3-font-size: 18;
$card-h3-font-size-mobile: $card-h3-font-size;
$card-h3-font-family: $heading-font-family;
$card-h3-font-weight: initial;

$card-h4-margin-bottom: 0;
$card-h4-color: $base-font-color;
$card-h4-font-family: $base-font-family;
$card-h4-font-size: 16;
$card-h4-font-size-mobile: $card-h4-font-size;
$card-h4-font-weight: initial;

$card-h5-margin-bottom: .33em;
$card-h5-color: $base-font-color;
$card-h5-font-family: $base-font-family;
$card-h5-font-size: 16;
$card-h5-font-size-mobile: $card-h5-font-size;
$card-h5-font-weight: initial;

$card-p-margin-bottom: .33em;
$card-p-font-size: $base-font-size;
$card-p-font-family: $base-font-family;
$card-p-color: $base-font-color;
$card-p-font-weight: 100;
$card-p-text-transform: none;

$card-p-rating-margin: 0 0 .33em;
$card-p-rating-font-size: $card-p-font-size;
$card-p-rating-font-family: $card-p-font-family;
$card-p-rating-color: $card-p-color;
$card-p-rating-font-weight: $card-p-font-weight;
$card-p-rating-text-transform: none;

$card-p-genre-margin: 0 0 .33em;
$card-p-genre-font-size: $card-p-font-size;
$card-p-genre-font-family: $card-p-font-family;
$card-p-genre-color: $card-p-color;
$card-p-genre-font-weight: $card-p-font-weight;
$card-p-genre-text-transform: none;

$card-span-color: $color-brand-primary;
$card-span-font-size: $base-font-size;
$card-span-font-family: $base-font-family;
$card-span-font-weight: 100;
$card-span-letter-spacing: normal;
