// Named Colors
$color-white: #fff;
$color-whitesmoke: #f5f5f5;
$color-ghostwhite: #f8f8ff;
$color-black: #000;

// Grays
$color-gray16: #292929;
$color-gray20: #333;
$color-gray40: #666;
$color-gray60: #999;
$color-gray80: #ccc;
$color-gray88: #e0e0e0;
$color-gray99: #fcfcfc;
