// Colors
$color-white: #fff;
$color-off-white: whitesmoke;
$color-black: #000;
$color-grey: #888685;
$color-light-light-grey: #f0f0f0;
$color-light-grey: #e1e1e1;
$color-dark-grey: #262626;

// Brand Palette
$color-brand-primary: #ef272d; // Qoppa Red
$color-brand-secondary: #534d4a; // Text
$color-brand-tertiary: #f6dbdb; // Background
$color-brand-quaternary: #f1e9b4; // Creme
$color-brand-quinary: #5d7876; // Aqua
$color-brand-senary: #daad53; // Gold
$color-brand-septenary: $color-grey; // Dark Grey

$color-brand-primary-complimentary: $color-brand-primary; // Qoppa Red
$color-brand-secondary-complimentary: #484b4d;
$color-brand-tertiary-complimentary: $color-brand-tertiary;
$color-brand-quaternary-complimentary: $color-brand-quaternary; // Dark Brown
$color-brand-quinary-complimentary: $color-brand-quinary;
$color-brand-senary-complimentary: $color-brand-senary; // Slate
$color-brand-septenary-complimentary: $color-brand-septenary; // Moss Brown

$color-brand-primary-alternate: mix(white, $color-brand-primary, 25%);

$color-primary-red: red;
$color-primary-green: green;
$color-primary-blue: blue;

// Default Text Colors
$base-font-color: $color-brand-secondary;
$base-accent-color: $color-brand-tertiary;

// Supplementary Colors
$alert-bg: #c72626;
$alert-color: $alert-bg;
$success-bg: mix($color-primary-green, white, 40%);
$success-color: $color-primary-green;
$info-bg: mix($color-primary-blue, white, 40%);
$info-color: $color-primary-blue;
