// =CTA's
$cta-bg: transparent;
$cta-padding-t-b: $half-spacing;
$cta-padding-l-r: $base-spacing;
$cta-bg-hover: transparent;
$cta-border-radius: $base-border-radius;
$cta-border-thickness: 2px;
$cta-border-color: $base-link-color;
$cta-border-color-hover: $cta-border-color;
$cta-link-color: $base-link-color;
$cta-link-color-hover: $base-link-color-hover;
$cta-font-family: $heading-font-family;
$cta-font-size: $base-font-size;
$cta-font-weight: 700;
$cta-text-transform: $base-button-text-transform;
$cta-text-decoration: none;
$cta-text-decoration-hover: none;
