// Detail Flyer
$detail-flyer-span-columns-desktop: 6;
$detail-flyer-span-columns-mobile: 4;
$detail-flyer-border: $base-border;

// Detail Info
$detail-info-span-columns-desktop: 6;
$detail-info-span-columns-mobile: 4;
$detail-info-border: $base-border;
