// Footer
$footer-padding: $base-spacing;

$footer-border-color: $color-dark-grey;

$footer-bg: $color-dark-grey;
$footer-bg-start: null;
$footer-bg-end: null;
$footer-bg-img: null;

$footer-font-size: $base-font-size;
$footer-color: $color-white;

$footer-link-font-weight: 200;
$footer-link-color: $color-white;
$footer-link-color-hover: $color-white;
$footer-link-text-decoration-hover: underline;
$footer-link-text-transform: uppercase;

$footer-address-font-size: 18;
$footer-address-font-size-mobile: $footer-address-font-size;
$footer-address-font-family: $heading-font-family;
$footer-address-name-font-family: $footer-address-font-size;
$footer-address-name-text-transform: uppercase;
$footer-address-letter-spacing: normal;
$footer-address-font-weight: 200;
