// Header
$header-padding: $base-spacing;
$header-border-color: $color-dark-grey;
$header-bg: $color-black;
$header-bg-start: null;
$header-bg-end: null;
$header-bg-img: null;
$header-color: $color-white;
$header-link: $color-white;
$header-link-hover: $color-white;
