// Search
$search-bg: $color-white;
$search-placeholder-color: $color-light-grey;
$search-icon-color: $color-brand-primary;
$search-button-top: $fourth-spacing;
$search-button-right: $half-spacing;
$search-button-bg: $base-button-color;
$search-button-color: $color-brand-secondary;
