// Mistakes
$find-mistakes: false;

$support-legacy: false;

// Article Header
$article-header: true;

// this variable will keep content inside the container if false,
// otherwise certain elements that would go full-width
$full-width-elements: true;


$youtube-videos: false;
