// Social Media
$component-social-icon-size: 35px;
$component-social-icon-font-size: 22px;
$component-social-icon-line-height: 35px;
$component-social-icon-border-size: 2px;
$component-social-icon-font-size-footer: 30px;

$facebook-bg-color: #3b5998;
$facebook-link-color: $color-white;
$facebook-link-border-color: $facebook-bg-color;
$facebook-link-color-hover: $facebook-link-color;

$twitter-bg-color: #1da1d2;
$twitter-link-color: $color-white;
$twitter-link-border-color: $twitter-bg-color;
$twitter-link-color-hover: $twitter-link-color;

$snapchat-bg-color: #fffc00;
$snapchat-link-color: $color-white;
$snapchat-link-border-color: $snapchat-bg-color;
$snapchat-link-color-hover: $snapchat-link-color;

$youtube-bg-color: #db1117;
$youtube-link-color: $color-white;
$youtube-link-border-color: $youtube-bg-color;
$youtube-link-color-hover: $youtube-link-color;

$pinterest-bg-color: #cb2027;
$pinterest-link-color: $color-white;
$pinterest-link-border-color: $pinterest-bg-color;
$pinterest-link-color-hover: $pinterest-link-color;

$instagram-bg-color: #ba5915;
$instagram-link-color: $color-white;
$instagram-link-border-color: $instagram-bg-color;
$instagram-link-color-hover: $instagram-link-color;

$linkedin-bg-color: #007bb6;
$linkedin-link-color: $color-white;
$linkedin-link-border-color: $linkedin-bg-color;
$linkedin-link-color-hover: $linkedin-link-color;

$tripadvisor-bg-color: #589442;
$tripadvisor-link-color: $color-white;
$tripadvisor-link-border-color: $tripadvisor-bg-color;
$tripadvisor-link-color-hover: $tripadvisor-link-color;

$envelope-bg-color: $color-brand-primary;
$envelope-link-color: $color-white;
$envelope-link-border-color: $envelope-bg-color;
$envelope-link-color-hover: $envelope-link-color;

$wifi-bg-color: $color-brand-primary;
$wifi-link-color: $color-white;
$wifi-link-border-color: $wifi-bg-color;
$wifi-link-color-hover: $wifi-link-color;

$mobile-bg-color: $color-brand-primary;
$mobile-link-color: $color-white;
$mobile-link-border-color: $mobile-bg-color;
$mobile-link-color-hover: $mobile-link-color;

$calendar-bg-color: $color-brand-primary;
$calendar-link-color: $color-white;
$calendar-link-border-color: $calendar-bg-color;
$calendar-link-color-hover: $calendar-link-color;

$print-bg-color: $color-brand-primary;
$print-link-color: $color-white;
$print-link-border-color: $print-bg-color;
$print-link-color-hover: $print-link-color;
