// Spacing
$base-spacing: 2rem;
$half-spacing: ($base-spacing / 2);
$third-spacing: ($base-spacing / 3);
$fourth-spacing: ($base-spacing / 4);
$fifth-spacing: ($base-spacing / 5);
$sixth-spacing: ($base-spacing / 6);
$three-quarters-spacing: ($base-spacing * .375);
$three-fourths-spacing: ($base-spacing * .75);
$one-and-half-spacing: ($base-spacing * 1.5);
$double-spacing: ($base-spacing * 2);
$triple-spacing: ($base-spacing * 3);
$quadruple-spacing: ($base-spacing * 4);
$quintuple-spacing: ($base-spacing * 5);
$sextuple-spacing: ($base-spacing * 6);
