// Tables
$table-border-color: $color-grey;
$table-margin-t-b: $half-spacing;
$table-margin-l-r: 0;
$table-th-padding-t-b: $half-spacing;
$table-th-padding-l-r: 0;
$table-th-font-weight: 700;
$table-td-max-width: 300px;
$table-td-padding-t-b: $half-spacing;
$table-td-padding-l-r: 0;
