// Tabs
$tab-bg: $color-light-grey;
$tab-bg-start: $color-light-grey;
$tab-bg-end: $color-light-grey;
$tab-text-color: $color-brand-secondary;
$tab-bg-hover: $base-button-bg-hover;
$tab-bg-active: $color-brand-primary;
$tab-text-color-active: $color-white;
$tab-text-color-hover: $color-white;
$tab-border-color: transparent;
$tab-box-shadow: none;
