// Typography Basics
$base-font-reset: 10px;
$base-font-size: 16;
$base-font-weight: 200;
$base-line-height: 1.443;
$lede-font-size: $base-font-size * 1.125;
$body-text: $base-font-size;
$small-body-text: $base-font-size * .875;
$disclaimer-text: $base-font-size * .75;
$legal-text: $small-body-text;
$sup-font-size: 75%;
$p-last-of-type-margin-bottom: 0;
// Modular Scale
$modular-scale-ratio: 1.61803398875;

// Google Fonts
$google-fonts-url: 'https://fonts.googleapis.com/css?family=Dancing+Script:400,700';

// Font Families List
$font-faces: (
  // 'din-regular': ('din/Din_Display-Regular', normal)
);

$font-path: '';

// Font Families
$dancing-script: 'Dancing Script', cursive;;
$base-font-family: $dancing-script;
$base-font-family-alt: $dancing-script;
$fontawesome: 'FontAwesome';
$pre: Inconsolata,Monaco,Consolas,'Andale Mono','Bitstream Vera Sans Mono','Courier New',Courier,monospace;

// Inline Text Elements
$em-color: $base-font-color;
$mark-bg: $info-color;
$mark-color: $base-font-color;
